@import 'variables.scss';

p, textarea, input {
    font-size: 1.3em !important;
    font-family: $font-primary;
    font-weight: 500;
}
.nav-link {
    font-size: 1.3em;
}

@media (min-width: $md) {
    .modal-dialog {
        max-width: 30% !important;
    }
}

ul {
    list-style: none;
    padding: 0;
}


