@import 'variables.scss';

.vr {
    border: 1px solid $color-gray-600;
}

@media (min-width: $md) {
    .modal-dialog {
        max-width: 60%;
    }
}

.text-primary {
    color: $blue !important;
}

.btn-primary {
    background-color: $blue !important;
    &:hover {
        background-color: $color-blue-600 !important;
    }
}

.btn-outline-primary {
    border: 1px solid $blue !important;
    color: $blue;
    &:hover, &:focus, &:active {
        background-color: $blue !important;
        color: $color-white;
    }
}

.bg-primary {
    background-color: $blue !important;
}

.bg-gray-100 {
    background-color: $color-gray-100;
}

.profileImage {
    border: 1px solid $color-gray-300;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btn-icon {
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: $color-gray-600;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}


.padding-top-content {
    padding-top: 1em;
}

.padding-bottom-content {
    padding-bottom: 1em;
}