@import 'variables.scss';

.sendPost-container {
    .sendPost-content {
        display: flex;
        align-items: start;
        gap: 1.2em;
        .sendPost-userPicture-container {
            .sendPost-userPicture {
                width: 35px;
                height: 35px;
            }
            @media (min-width: $md) { 
                .sendPost-userPicture {
                    width: 45px;
                    height: 45px;
                }
            }
        }
        .sendPost-editor-container {
            width: 100%;
            .sendPost-editor-form {
                display: flex;
                flex-direction: column;
                gap: 0.8em;
                .sendPost-textarea {
                    min-height: 40px !important;
                    max-height: 200px;
                    resize: none;
                }
                .sendPost-editor-files-container {
                    max-width: 100%;
                    .sendPost-editor-files-content {
                        display: flex;
                        flex-wrap: wrap;
                        .sendPost-editor-file {
                            position: relative;
                            width: 100%;
                            .sendPost-image {
                                width: 100%;
                                max-height: 400px;
                                object-fit: cover;
                            }
                            .sendPost-image-btnRemove {
                                position: absolute;
                                top: 0;
                                right: 0;
                                margin: 0.6em;
                            }
                        }
                    }
                }
                .sendPost-editor-options-container {
                    .sendPost-editor-options-content {
                        width: 100%;
                        display: flex;
                        gap: 0.2em;
                        .sendPost-editor-optionBtn {
                            background-color: transparent !important;
                            font-size: 1em;
                            &:hover {
                                background-color: $color-primary-200 !important;
                            }
                        }
                        @media (min-width: $md) { 
                            .sendPost-editor-optionBtn {
                                font-size: 1.2em;
                            }
                        }
                        .sendPost-editor-postBtn {
                            padding: 0 1em;
                            font-size: 1em;
                            margin-left: auto;
                        }
                        @media (min-width: $md) { 
                            .sendPost-editor-postBtn {
                                padding: 0 2em;
                                font-size: 1.2em;
                            }
                        }
                    }
                    @media (min-width: $md) { 
                        .sendPost-editor-options-content {
                            gap: 0.5em;
                        }
                    }
                }
            }
        }
    }
}