@import '../../node_modules/bootstrap/scss/functions.scss';
@import '../../node_modules/bootstrap/scss/variables.scss';

$font-primary: 'Jost', sans-serif;
$color-primary: $blue;
$color-primary-200: $blue-200;
$color-primary-600: $blue-600;
$color-white: $white;