@import '../../node_modules/bootstrap/scss/functions.scss';
@import '../../node_modules/bootstrap/scss/variables.scss';
@import '../../node_modules/bootstrap/scss/mixins';

$font-primary: 'Jost', sans-serif;
$color-primary: $blue;
$color-primary-200: $blue-200;
$color-primary-600: $blue-600;
$color-white: $white;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
