@import '../variables.scss';

.create-post-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: $lg) {
    .create-post-container {
        border-left: 1px solid $color-gray-200;
        border-right: 1px solid $color-gray-200;
    }
}

.create-post-buttons-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray-200;
    position: sticky;
    top: 0px;
    z-index: 3;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(13.2px);
    -webkit-backdrop-filter: blur(13.2px);
}
.posts-container {
    display: flex;
    flex-direction: column;
}
