@import '../variables.scss';

@media (max-width: 540px) {
    .feed-container {
      padding: 0;  
      .post-container {
        border-radius: 0;
        border-left: none;
        border-right: none;
      }
    }
}