@import '../variables.scss';

.profile-info-cover-container {
    background-color: $body-secondary-bg;
    height: 200px;
}

.profile-info-image {
    width: 125px;
    height: 125px;
    margin-top: -12.5%;
    background-color: $body-secondary-bg;
    border: 4px solid $gray-100;
}

.profile-into-content {
    padding: 0 16px;
}